.payment-page {
  min-height: 100vh;
  position: relative;
}

.payment-page__background {
  min-height: 100vh;
  background-image: url('../../../assets/img/desktop.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.75));
    z-index: 1;
  }
}

.payment-page__content {
  position: relative;
  z-index: 2;
  max-width: 1164px;
  margin: 0 auto;
  padding: 40px 20px 100px;
}

.logo-big {
  font-size: 3.2rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 40px;
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);


}

.payment-card {
  max-width: 990px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  
  border-radius: 2px;
overflow: hidden;
  position: relative;
}


.payment-card__header {
  background: #F1EBE6F2;
  font-size: 1.35rem;
  font-weight: 600;
  color: #C76F00;
  margin-bottom: 6px;
  padding: 40px 35px;
  
}
.payment-card__body{
background: #F1EBE6F2;
padding: 40px 35px;
}

.payment-card__title {
  font-size: 1.85rem;
  font-weight: 700;
  color: #2c2c2c;
  margin-bottom: 25px;
  text-align: center;
}


.payment-info p {
  margin-bottom: 10px;
  color: #444;
  font-size: 1.1rem;
}

.btn-get-code {
  width: 100%;
  background: #00bfff;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
}

.payment-note {
  margin-top: 30px;
  color: #555;
  font-size: 0.95rem;
  text-align: center;
  line-height: 1.5;
}


.ticket-preview {
  width: 1016px;
  padding: 0 15px;
  position: absolute;
}

.ticket-bg {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  margin: -3px 55px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.ticket-bg-up {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  margin: 118px 53px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  
}

.ticket-bg-down {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  margin: -124px 53.5px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  transform: rotate(180deg);
}